div {
    color: black;
}

.circle {
  stroke-width: 4;
  fill: #4c71f7;
  stroke: #2856fc;
}

.hit-group {
  cursor: pointer;
}

.circle-timer {
  @extend .circle;
  fill: transparent;
  stroke: #fff;
}

.circle-text {
  fill: #fff;
  font-size: 40px;
}

.field {
  width: 100%;
  height: 100vh;
  background: #000;
}
